*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
   a{
    text-decoration: none;
    
   }
ul{
    list-style-type: none;
}
.container{
    min-height: 150vh;
;
}
/* header styling goes here */

header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    align-items: center;
    min-width: 100%;
    padding-inline: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo img{
    height: 60px;
    width: 100px;
    object-fit: cover;
}
.address{
    display: flex;
     gap: 5px;
}
.address .location{
    font-size: 22px;
    align-self: flex-end;
}
.address .actualadd P:first-child{
    font-size: .75rem;
    color: #cccccc;
}
.address .actualadd P:nth-child(2){
    font-size: .9rem;
    font-weight: 700;
}
.searchbar{
 width: 500px;
 display: flex;
 border-radius: 5px;
}
.searchbar select{
    border: none;
    background: #e6e6e6;
    padding: 10px;
    width: 70px;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
}
.searchbar input{
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
     
}
.searchbar button{
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #febd69;
    border-radius:  0px 5px 5px 0;
    
}
.signin p:nth-child(1){
   font-size: .75rem;
   color: #cccccc;

}
.signin p:nth-child(2){
    font-size: .9rem;
    font-weight: 700;
 }
 .Rando p:nth-child(1){
    font-size: .75rem;
    color: #cccccc;

 }
 .Rando p:nth-child(2){
    font-size: .9rem;
    font-weight: 700;
 }
 .cart{
    display: flex;

 }
 .cart i{
    font-size: 1.8rem;
 }
 .cart p{
    align-self:flex-end
 }
 /* nav styling */

nav{
    min-width: 100%;
    background-color: #232f3e;
    color: #fff;
    padding-inline: 10px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}
nav .navlinks{
    font-size: 14px;
    display: flex;
    gap: 20px;
}
.navlinks li:first-child{
    font-size: 16px;
}
nav .otherlinks{
    justify-self: flex-end;
    filter: blur(.5px);
}

/* main content styling  */
.heroimg{
    position: relative;
   
}
.heroimg img{
    width: 100%;
    height: 510px;
    object-fit:cover;
    display: none;

}
.heroimg .prev , .next{
    font-size:100px;
    position: absolute;
    top:50%;
    color: #8f8888;
    transform: translateY(-60%);
    opacity: .5;    
    cursor: pointer;
}
.next{
  right:0;
}
.prev:hover , .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.mainsubcontent{
    background-color: #e6e6e6;
    padding : 20px ;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
    justify-items: center;
  

}
.mainsubcontent .box{
    width: 290px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    background-color: #fff;
}
.images img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.boxcontent{
  
  
}
.boxcontent > *{
    margin-top: 15px;
}
.images{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;

}
.boxcontent h3{
    font-size: 21px;
}
.images p{
    font-size: 12px;
}
 .explore a{
    font-size: 13px;
   text-decoration: none;
}
/*  footer element */
.footersignin{
  
}   
.signincontent{
    border: 1.5px solid gainsboro;
    margin: 60px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.content{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.content > *{
    margin-top: 5px;
}
.content > p:first-child{
    font-size: 14px;
}  
.content button{
    font-size: 12px;
    background-color: #febd69;
    border: none;
    font-weight: 600;
    width: 230px;
    padding: 7px;
    border-radius: 3px;
}
.content > p:nth-child(3){
    font-size: 11px;
}
.backtotop{
    background-color: #37475a;
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 15px 0;
}
.alllinks{
    color: #fff;
    background-color: #232f3e;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    padding-block: 40px;
    border-bottom: 1px solid rgb(178, 175, 175);
}
.sublinks *{
    margin-bottom: 20px;
}
.sublinks ul li{
    margin-bottom: 15px;
    color: #dddddd;
}
.countrywiselinks{
    background-color: #232f3e;
    color:#ddd;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 30px;     
}
.countrywiselinks h2{
    color:#fff;
    text-align: center;
}
.countrywiselinks ul{
    display: flex;
    gap: 20px;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;

}
.countrywiselinks ul li{
font-size: 12px;
}
.mainfooter{
    color: #fff;
    background-color: #131921;
}
.amazonotherservices{
   display: grid;  
    grid-template-columns: repeat(4,auto);
   grid-template-rows: repeat(2,auto);
   justify-content:center;
   align-content: center;
   padding-block: 50px;
   gap: 30px 130px;
  
}
.amazonotherservices ul li:first-child{
    color: #fff;
    font-weight: 600;
}
.amazonotherservices ul li{
    font-size: 12px;
    margin-top: 5px;
    color: #ddd;
  
}
.copyrightnote{
    font-size: 12px;
    color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-block: 30px;
}
.copyrightnote ul{
    display: flex;
    gap: 20px;
}
.copyrightnote .note li a{
    color: #dddddd;
}